In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('data_processing').getOrCreate()

In [3]:
import pyspark.sql.functions as F

In [5]:
from pyspark.sql.types import *

In [6]:
schema = StructType().add("user_id","string").add("country","string").add("browser", "string").add("OS",'string').add("age", "integer")

In [7]:
df = spark.createDataFrame([("A203",'India',"Chrome","WIN", 33),("A201",'China',"Safari","MacOS",35),("A205",'UK',"Mozilla", "Linux",25)],schema=schema)

In [8]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- country: string (nullable = true)
 |-- browser: string (nullable = true)
 |-- OS: string (nullable = true)
 |-- age: integer (nullable = true)

In [10]:
df.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|  India| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [11]:
df_na=spark.createDataFrame([("A203",None,"Chrome","WIN", 33),("A201",'China',None,"MacOS",35),("A205",'UK',"Mozilla", "Linux",25)],schema=schema)

In [12]:
df_na.show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|   null| Chrome|  WIN| 33|
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [13]:
df_na.fillna('0').show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|      0| Chrome|  WIN| 33|
|   A201|  China|      0|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [14]:
df_na.fillna({ 'country':'USA', 'browser':'Safari' }).show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A203|    USA| Chrome|  WIN| 33|
|   A201|  China| Safari|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [15]:
df_na.na.drop().show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [16]:
df_na.na.drop(subset='country').show()

+-------+-------+-------+-----+---+
|user_id|country|browser|   OS|age|
+-------+-------+-------+-----+---+
|   A201|  China|   null|MacOS| 35|
|   A205|     UK|Mozilla|Linux| 25|
+-------+-------+-------+-----+---+

In [17]:
df_na.replace("Chrome","Google Chrome").show()

+-------+-------+-------------+-----+---+
|user_id|country|      browser|   OS|age|
+-------+-------+-------------+-----+---+
|   A203|   null|Google Chrome|  WIN| 33|
|   A201|  China|         null|MacOS| 35|
|   A205|     UK|      Mozilla|Linux| 25|
+-------+-------+-------------+-----+---+

In [18]:
df_na.drop('user_id').show()

+-------+-------+-----+---+
|country|browser|   OS|age|
+-------+-------+-----+---+
|   null| Chrome|  WIN| 33|
|  China|   null|MacOS| 35|
|     UK|Mozilla|Linux| 25|
+-------+-------+-----+---+

In [21]:
df = spark.read.csv("data.csv",header=True, inferSchema=True)

In [22]:
df.count()

500

In [23]:
len(df.columns)

6

In [24]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- region: string (nullable = true)
 |-- country: string (nullable = true)

In [25]:
df.show(3)

+---------------+--------------+--------------------+--------------------+---------------+-----------+
|           name|         phone|               email|             address|         region|    country|
+---------------+--------------+--------------------+--------------------+---------------+-----------+
|    Keelie Love|1-557-514-9857|sociis.natoque@ic...|  8805 Nullam Avenue|Zhytomyr oblast|  Singapore|
|Marsden Guthrie|1-547-230-2935|     nec@outlook.edu|    9029 Egestas Av.|      Michoacán|Netherlands|
|  Skyler Church|(757) 376-7515|pede.sagittis@aol...|P.O. Box 553, 474...|     Chandigarh|      Italy|
+---------------+--------------+--------------------+--------------------+---------------+-----------+
only showing top 3 rows

In [26]:
df.summary().show()

+-------+------------+--------------+--------------------+--------------------+---------+---------+
|summary|        name|         phone|               email|             address|   region|  country|
+-------+------------+--------------+--------------------+--------------------+---------+---------+
|  count|         500|           500|                 500|                 500|      500|      500|
|   mean|        null|          null|                null|                null|     null|     null|
| stddev|        null|          null|                null|                null|     null|     null|
|    min|Aaron Rhodes|(125) 437-3977| a.felis@outlook.com| 104-8166 Risus. Ave|  Abruzzo|Australia|
|    25%|        null|          null|                null|                null|     null|     null|
|    50%|        null|          null|                null|                null|     null|     null|
|    75%|        null|          null|                null|                null|     null|     null|
|    max|  Zoe Norman|1-992-505-8408|vulputate.ullamco...|P.O. Box 994, 879...|Şanlıurfa|  Vietnam|
+-------+------------+--------------+--------------------+--------------------+---------+---------+

In [27]:
df.select(['name','phone']).show()

+------------------+--------------+
|              name|         phone|
+------------------+--------------+
|       Keelie Love|1-557-514-9857|
|   Marsden Guthrie|1-547-230-2935|
|     Skyler Church|(757) 376-7515|
|       Sara Bowman|1-505-328-9642|
|  Courtney Harrell|1-678-272-6863|
|        Sage Ochoa|(527) 664-0849|
|    Shelly Rowland|(756) 475-1995|
|    Sharon Sanford|1-778-277-8518|
|   Nolan Mcfarland|(154) 837-3776|
|        Sean Morse|1-400-863-1411|
|   Jillian Flowers|(915) 410-5105|
|     Hayden Dotson|1-278-588-2488|
|      Yasir Conway|(524) 360-1039|
|   Hannah Schwartz|(871) 890-7647|
|       Ivan Martin|1-807-618-2154|
|      Marcia Tyson|1-768-324-0954|
|      Shad Barrera|(934) 374-6533|
| Macaulay Mcintyre|(257) 222-0340|
|Jillian Fitzgerald|(416) 267-6441|
|    Ariel Ferguson|1-647-513-7821|
+------------------+--------------+
only showing top 20 rows

In [50]:
"""Puisque nous n'avons pas utilisé le même dataset que celui utilisé dans le livre, 
    notre filtre se fera sur la colonne téléphone Ici nous allons selectionné les téléphones avec comme indacteur 1 
"""
df.filter(df.phone.startswith("1")).show()

+----------------+--------------+--------------------+--------------------+--------------------+--------------+
|            name|         phone|               email|             address|              region|       country|
+----------------+--------------+--------------------+--------------------+--------------------+--------------+
|     Keelie Love|1-557-514-9857|sociis.natoque@ic...|  8805 Nullam Avenue|     Zhytomyr oblast|     Singapore|
| Marsden Guthrie|1-547-230-2935|     nec@outlook.edu|    9029 Egestas Av.|           Michoacán|   Netherlands|
|     Sara Bowman|1-505-328-9642|  eleifend@google.ca|       8792 Elit Av.|           Hậu Giang|      Pakistan|
|Courtney Harrell|1-678-272-6863|dapibus.ligula@ou...|  459-8395 Eu Street|  Northern Territory|    Costa Rica|
|  Sharon Sanford|1-778-277-8518| molestie@google.net|Ap #812-8870 Ipsu...|             Guainía|         Chile|
|      Sean Morse|1-400-863-1411|pede.nec.ante@out...|271-6942 Interdum...|             Bến Tre|         Italy|
|   Hayden Dotson|1-278-588-2488|pede.nunc@hotmail...|509-5002 Integer ...|        South Island|     Singapore|
|     Ivan Martin|1-807-618-2154|curabitur.vel.lec...|  7826 Ornare Street|      Kharkiv oblast|   South Korea|
|    Marcia Tyson|1-768-324-0954|   facilisi@yahoo.ca|Ap #640-3484 Enim...|  Kujawsko-pomorskie|    Costa Rica|
|  Ariel Ferguson|1-647-513-7821|ut.tincidunt@aol.com|P.O. Box 733, 562...|            Piemonte|       Vietnam|
|  Carly Carrillo|1-546-535-4224|parturient.montes...|Ap #695-5688 Dapi...|             Suffolk|       Germany|
|   Galvin Morrow|1-768-659-3948|neque.vitae@yahoo.ca|  723-326 Cursus St.|                Utah|        Turkey|
|      Damian Day|1-723-846-9651|      ac@outlook.com|      9091 Ad Street|            Arequipa|         India|
|  Silas Clements|1-603-664-5518|  metus@hotmail.couk|P.O. Box 409, 748...|           Bourgogne|      Pakistan|
|     Zane Talley|1-506-338-4886|cursus.non@hotmai...|Ap #770-8704 Duis...|      Swiętokrzyskie|       Vietnam|
|   Echo Randolph|1-266-928-8276|eget.ipsum@outloo...| 302-8365 Vel Street|Andaman and Nicob...|      Colombia|
|   Rhea Roberson|1-802-855-1484|et.lacinia@proton...|P.O. Box 274, 178...|             Heredia|   Philippines|
|      Haley Mack|1-865-351-1961|lacinia.sed.congu...|250-5708 Cras Street|              Madrid|         India|
|  Caryn Franklin|1-695-881-2555| feugiat@hotmail.edu|226-4096 Vivamus ...|                Aceh|United Kingdom|
| Lillian Maxwell|1-611-215-1258|neque.pellentesqu...|996-7091 Feugiat....|   South Chungcheong|         China|
+----------------+--------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [51]:
df.where(df.phone.startswith("1")).show()

+----------------+--------------+--------------------+--------------------+--------------------+--------------+
|            name|         phone|               email|             address|              region|       country|
+----------------+--------------+--------------------+--------------------+--------------------+--------------+
|     Keelie Love|1-557-514-9857|sociis.natoque@ic...|  8805 Nullam Avenue|     Zhytomyr oblast|     Singapore|
| Marsden Guthrie|1-547-230-2935|     nec@outlook.edu|    9029 Egestas Av.|           Michoacán|   Netherlands|
|     Sara Bowman|1-505-328-9642|  eleifend@google.ca|       8792 Elit Av.|           Hậu Giang|      Pakistan|
|Courtney Harrell|1-678-272-6863|dapibus.ligula@ou...|  459-8395 Eu Street|  Northern Territory|    Costa Rica|
|  Sharon Sanford|1-778-277-8518| molestie@google.net|Ap #812-8870 Ipsu...|             Guainía|         Chile|
|      Sean Morse|1-400-863-1411|pede.nec.ante@out...|271-6942 Interdum...|             Bến Tre|         Italy|
|   Hayden Dotson|1-278-588-2488|pede.nunc@hotmail...|509-5002 Integer ...|        South Island|     Singapore|
|     Ivan Martin|1-807-618-2154|curabitur.vel.lec...|  7826 Ornare Street|      Kharkiv oblast|   South Korea|
|    Marcia Tyson|1-768-324-0954|   facilisi@yahoo.ca|Ap #640-3484 Enim...|  Kujawsko-pomorskie|    Costa Rica|
|  Ariel Ferguson|1-647-513-7821|ut.tincidunt@aol.com|P.O. Box 733, 562...|            Piemonte|       Vietnam|
|  Carly Carrillo|1-546-535-4224|parturient.montes...|Ap #695-5688 Dapi...|             Suffolk|       Germany|
|   Galvin Morrow|1-768-659-3948|neque.vitae@yahoo.ca|  723-326 Cursus St.|                Utah|        Turkey|
|      Damian Day|1-723-846-9651|      ac@outlook.com|      9091 Ad Street|            Arequipa|         India|
|  Silas Clements|1-603-664-5518|  metus@hotmail.couk|P.O. Box 409, 748...|           Bourgogne|      Pakistan|
|     Zane Talley|1-506-338-4886|cursus.non@hotmai...|Ap #770-8704 Duis...|      Swiętokrzyskie|       Vietnam|
|   Echo Randolph|1-266-928-8276|eget.ipsum@outloo...| 302-8365 Vel Street|Andaman and Nicob...|      Colombia|
|   Rhea Roberson|1-802-855-1484|et.lacinia@proton...|P.O. Box 274, 178...|             Heredia|   Philippines|
|      Haley Mack|1-865-351-1961|lacinia.sed.congu...|250-5708 Cras Street|              Madrid|         India|
|  Caryn Franklin|1-695-881-2555| feugiat@hotmail.edu|226-4096 Vivamus ...|                Aceh|United Kingdom|
| Lillian Maxwell|1-611-215-1258|neque.pellentesqu...|996-7091 Feugiat....|   South Chungcheong|         China|
+----------------+--------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [52]:
#Aggregation sur la colonne country

df.groupBy('country').count().show()

+------------------+-----+
|           country|count|
+------------------+-----+
|            Sweden|   10|
|       Philippines|   11|
|         Singapore|   13|
|            Turkey|   16|
|           Germany|   13|
|            France|   12|
|           Belgium|   13|
|              Peru|    7|
|             India|   23|
|             China|   10|
|     United States|   13|
|             Chile|   16|
|           Nigeria|   18|
|             Italy|   20|
|            Norway|    7|
|             Spain|    8|
|Russian Federation|   18|
|           Ireland|   17|
|           Ukraine|   15|
|       South Korea|   19|
+------------------+-----+
only showing top 20 rows

In [54]:
#Aggragation sur les colonnes country et région
for col in ["region", "country"]:
    print(f" Aggregation for  {col}")
    df.groupBy(col).count().orderBy('count',ascending=False).show(truncate=False)

 Aggregation for  region
+----------------------------+-----+
|region                      |count|
+----------------------------+-----+
|South Island                |10   |
|Azad Kashmir                |7    |
|East Region                 |7    |
|Australian Capital Territory|5    |
|North Island                |5    |
|Guerrero                    |4    |
|Gyeonggi                    |4    |
|KwaZulu-Natal               |4    |
|Gävleborgs län              |4    |
|Gauteng                     |4    |
|Limón                       |4    |
|Antwerpen                   |4    |
|Mpumalanga                  |3    |
|South Gyeongsang            |3    |
|Cantabria                   |3    |
|Lima                        |3    |
|Emilia-Romagna              |3    |
|Connacht                    |3    |
|Salzburg                    |3    |
|Dolnośląskie                |3    |
+----------------------------+-----+
only showing top 20 rows

 Aggregation for  country
+------------------+-----+
|country           |count|
+------------------+-----+
|Netherlands       |25   |
|India             |23   |
|Mexico            |22   |
|Italy             |20   |
|Vietnam           |20   |
|South Korea       |19   |
|Nigeria           |18   |
|Russian Federation|18   |
|Ireland           |17   |
|Indonesia         |16   |
|Poland            |16   |
|Austria           |16   |
|Chile             |16   |
|South Africa      |16   |
|Turkey            |16   |
|Colombia          |15   |
|United Kingdom    |15   |
|Ukraine           |15   |
|Singapore         |13   |
|Germany           |13   |
+------------------+-----+
only showing top 20 rows

In [57]:
df.groupby("region").agg(F.collect_set("country")).show()

+--------------------+--------------------+
|              region|collect_set(country)|
+--------------------+--------------------+
|             Abruzzo|       [Netherlands]|
|                Aceh|    [United Kingdom]|
|               Agder|[South Korea, Mex...|
|               Aisén|    [India, Ukraine]|
|            Alajuela|             [Italy]|
|             Alberta|             [India]|
|         Amur Oblast|[Russian Federation]|
|             Anambra|          [Pakistan]|
|              Ancash|           [Ireland]|
|           Andalucía|            [Turkey]|
|Andaman and Nicob...|[Colombia, Russia...|
|              Ankara|[Ukraine, Netherl...|
|           Antioquia|            [Brazil]|
|           Antwerpen|[France, Germany,...|
|              Aragón|[Russian Federation]|
|              Arauca|    [Brazil, Turkey]|
|           Araucanía|            [Canada]|
|            Arequipa|    [Austria, India]|
|    Astrakhan Oblast|           [Vietnam]|
|             Atacama|           [Nigeria]|
+--------------------+--------------------+
only showing top 20 rows

In [58]:
df.groupby("region").agg(F.collect_list("country")).show()

+--------------------+---------------------+
|              region|collect_list(country)|
+--------------------+---------------------+
|             Abruzzo|        [Netherlands]|
|                Aceh|     [United Kingdom]|
|               Agder| [Costa Rica, Mexi...|
|               Aisén|     [India, Ukraine]|
|            Alajuela|              [Italy]|
|             Alberta|              [India]|
|         Amur Oblast| [Russian Federation]|
|             Anambra|           [Pakistan]|
|              Ancash|            [Ireland]|
|           Andalucía|             [Turkey]|
|Andaman and Nicob...| [Russian Federati...|
|              Ankara| [Netherlands, Ukr...|
|           Antioquia|             [Brazil]|
|           Antwerpen| [Germany, Spain, ...|
|              Aragón| [Russian Federation]|
|              Arauca|     [Brazil, Turkey]|
|           Araucanía|             [Canada]|
|            Arequipa| [Austria, Austria...|
|    Astrakhan Oblast|            [Vietnam]|
|             Atacama|            [Nigeria]|
+--------------------+---------------------+
only showing top 20 rows

In [78]:
#Ajout de deux colonnes(age et age_category) pour pouvoir appliquer les UDFs
from pyspark.sql.functions import rand
df = df.withColumn('age', round(rand()*(100-20)))

In [79]:
df.select('age').show()

+----+
| age|
+----+
|17.0|
|34.0|
| 6.0|
|78.0|
|28.0|
|34.0|
|30.0|
|75.0|
|41.0|
|63.0|
|68.0|
|16.0|
|47.0|
|27.0|
|51.0|
|23.0|
|62.0|
|72.0|
|50.0|
|46.0|
+----+
only showing top 20 rows

In [104]:
#definition de la fonction age_category

def age_category(age):
    if age > 1 and age <= 20:
        return "Very Young"
    elif age > 20 and age <= 30:
        return "Young"
    elif age > 30 and age <= 40:
        return "Mid Aged"
    elif ((age > 40 and age <= 50) or (age > 50 and age <= 60)) :
        return "Old"
    else:
        return "Very Old"

In [105]:
age_udf=udf(age_category,StringType())

In [107]:
df=df.withColumn('age_category',age_udf(df['age']))

In [109]:
df.select('age','age_category').show()

+----+------------+
| age|age_category|
+----+------------+
|17.0|  Very Young|
|34.0|    Mid Aged|
| 6.0|  Very Young|
|78.0|    Very Old|
|28.0|       Young|
|34.0|    Mid Aged|
|30.0|       Young|
|75.0|    Very Old|
|41.0|         Old|
|63.0|    Very Old|
|68.0|    Very Old|
|16.0|  Very Young|
|47.0|         Old|
|27.0|       Young|
|51.0|         Old|
|23.0|       Young|
|62.0|    Very Old|
|72.0|    Very Old|
|50.0|         Old|
|46.0|         Old|
+----+------------+
only showing top 20 rows

In [110]:
df.groupby("age_category").count().show()

+------------+-----+
|age_category|count|
+------------+-----+
|    Mid Aged|   61|
|    Very Old|  143|
|         Old|  138|
|  Very Young|  107|
|       Young|   51|
+------------+-----+